body {
    background-color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 50px 8px;
}

.caixa{
    background-color: white;
    margin: auto;
    padding: 30px;
    width: 30%;
    height: 30%;
    align-items: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
}

#titulo{
    font-size: 21px;
    color: rgb(60, 60, 60);
}

#logo{
    height: 65px;
}

.login {
    border-top-color: rgb(180, 180, 180);
    border-top-width: 1px ;
    border-top-style: solid;

}

.login p{
    padding: 0 50px;
    color: rgb(60, 60, 60);
}

.campo{
    width: 270px;
    height: 22px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
}

#botao{
    width: 100px;
    height: 25px;
}

img{
    height: 300px ;
}
