body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho{
    background-color: rgb(60, 60, 60);
    width: 100%;
    height: 50px;
    padding: 0 30px;
    font-size: 18px ;
    vertical-align: middle;
    color: rgba(255 , 255 , 255, 90%);
    position: relative;
}

.cabecalho p {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.menu{
    background-color: rgb(48, 48, 48);
    float: left;
    width: 22%;
}

.opcao{
    padding: 15px 10px 15px 25px;
    font-size: 17px ;
    color: rgba(255 , 255 , 255, 40%);
}

.linkopcao:link {
    text-decoration: none;
    color: rgba(255 , 255 , 255, 80%);
}

.linkopcao:active {
    text-decoration: none;
}

.linkopcao:visited {
    text-decoration: none;
    color: rgba(255 , 255 , 255, 80%);
}

.linkopcao:hover {
    text-decoration: underline;
    color: rgba(255 , 255 , 255, 80%);
}

.opcao:hover{
    background-color:rgb(60, 60, 60);
}






.subtitulo{
    padding: 15px 10px 5px;
    font-size: 15px ;
    color: rgba(255 , 255 , 255, 50%);
    border-top-color: rgba(255 , 255 , 255, 20%);
    border-top-width: 2px ;
    border-top-style: solid;
}


.formulario{
    display: inline;
    clear: left;
}



img{
    height: 300px ;
}


#validar{
    font-size: 13px;
    color: red;
}