body {
    width: 900px;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background-color:thistle;
    margin: 0 20px 0 0;
    padding: 10px 20px 10px;
    float: left;
}

.opcao{
    width: 150px;
    padding: 10px;
}

.titulo{
    width: 150px;
    padding: 10px;
    color:royalblue;
}

p{
    text-align: justify;
}

.formulario{
    display: inline;
    clear: left;
}

.campo{
    background-color: cadetblue;
    margin: 0 15px;
    padding: 15px;
}

img{
    height: 300px ;
}

.opcao:hover{
    background-color:white;
    color: black;
}

#validar{
    font-size: 13px;
    color: red;
}